<ul class="friends-link-list border-box">
    <% for (const f of theme.source_data?.links) { %>
        <% if (f?.title) { %>
           <li class="link-type-title text-ellipsis border-box">
               <span class="type-name text-ellipsis"><%= f.title %></span>
               <i class="fa-solid fa-chevron-down fold"></i>
           </li>
        <% } else { %>
            <li class="friends-link-item border-box">
                <a class="a-wrap border-box" href="<%= f?.link %>">
                    <div class="avatar border-box flex-center">
                        <i class="icon fas fa-eye-slash"></i>
                        <% if (f?.avatar) { %>
                            <img src="<%- url_for(f.avatar) %>"
                                 onerror="this.style.display='none'"
                            >
                        <% } %>
                    </div>
                    <div class="details border-box text-ellipsis">
                        <div class="name border-box text-ellipsis"><%= f?.name %></div>
                        <div class="desc border-box text-ellipsis"><%= f?.description %></div>
                    </div>
                </a>
            </li>
        <% } %>
    <% } %>
</ul>
