<%
const home_category_limit_number = 3
const home_tag_limit_number = 5

const show_home_post_block_datetime = theme.home.hasOwnProperty('post_datetime') ? !!theme.home.post_datetime : true
const home_post_datetime_value = (theme.home.hasOwnProperty('post_datetime') ? theme.home?.post_datetime : 'updated') || 'updated'
const home_post_datetime_format = (theme.home.hasOwnProperty('post_datetime_format') ? theme.home?.post_datetime_format : 'ago') || 'ago'

const home_post_datetime_split_list = home_post_datetime_value?.split('||')
const home_post_datetime_type = home_post_datetime_split_list[0]?.trim()?.toLowerCase()
const home_post_datetime_icon = home_post_datetime_split_list[1]?.trim()?.toLowerCase()

const home_post_datetime_created_icon = home_post_datetime_icon || 'fa-solid fa-file-circle-plus'
const home_post_datetime_updated_icon = home_post_datetime_icon || 'fa-solid fa-history'

const home_post_block_datetime_icon = home_post_datetime_type === 'created' ? home_post_datetime_created_icon : home_post_datetime_updated_icon
const home_post_block_datetime = home_post_datetime_type === 'created' ? post.date : post.updated

const { created_datetime_icon, updated_datetime_icon } = theme?.post || {}
%>

<div class="post-meta-info-container border-box <%= page_type %>">
    <div class="post-meta-info border-box">
        <% if (page_type === 'home' && show_home_post_block_datetime) { %>
            <span class="meta-info-item border-box">
                <i class="icon <%= home_post_block_datetime_icon %>"></i>&nbsp;<span class="home-post-history"
                                                                                data-updated="<%= home_post_block_datetime %>"
                ><%= date(home_post_block_datetime, home_post_datetime_format === 'ago' ? 'YYYY-MM-DD HH:mm:ss' : home_post_datetime_format) %></span>
            </span>
        <% } %>

        <% if (page_type === 'post') { %>
            <span class="meta-info-item post-create-date">
                <i class="icon <%= created_datetime_icon || 'fa-solid fa-calendar-plus' %>"></i>&nbsp;
                <span class="datetime"><%= date(post.date, theme.post?.datetime_format || 'YYYY-MM-DD HH:mm:ss') %></span>
            </span>

            <span class="meta-info-item post-update-date">
                <i class="icon <%= updated_datetime_icon || 'fa-solid fa-file-pen' %>"></i>&nbsp;
                <span class="datetime" data-updated="<%= post.updated %>"><%= date(post.updated, theme.post?.datetime_format || 'YYYY-MM-DD HH:mm:ss') %></span>
            </span>
        <% } %>

        <% if (post.categories.length && (theme?.home?.category === true || page_type === 'post')) { %>
            <span class="meta-info-item post-category border-box"><i class="icon fas fa-folder"></i>&nbsp;
                <ul class="post-category-ul">
                    <% post.categories.forEach((category, i) => {
                        if (home_category_limit_number === 0 || i + 1 <= home_category_limit_number || page_type === 'post') { %>
                            <li class="category-item"><% if (i !== 0) { %>&nbsp;<i class="icon fas fa-angle-right"></i>&nbsp;<% } %><a href="<%- url_for(category.path) %>"><%= category.name %></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </span>
        <% } %>

        <% if (post.tags.length && (theme?.home?.tag === true || page_type === 'post')) { %>
            <span class="post-tag meta-info-item border-box">
                <ul class="post-tag-ul">
                    <% post.tags.forEach((tag, i) => {
                        if (home_tag_limit_number === 0 || i + 1 <= home_tag_limit_number || page_type === 'post') { %>
                            <li class="tag-item"><span class="tag-separator"><i class="icon fas fa-hashtag"></i></span><a href="<%- url_for(tag.path) %>"><%= tag.name %></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </span>
        <% } %>

        <%
            let temp_wordcount_count, temp_min2read_count = null
            try {
                temp_wordcount_count = wordcount(page.content)
                temp_min2read_count = min2read(page.content)
            } catch (e) {
                temp_wordcount_count = 0
                temp_min2read_count = 0
            }
        %>
        <% if(page_type === 'post' && theme?.post?.word_count?.wordcount === true && temp_wordcount_count){ %>
            <span class="meta-info-item post-wordcount">
                <i class="icon fas fa-file-word"></i>&nbsp;<span><%= temp_wordcount_count %> <%- __('wordcount') %></span>
            </span>
        <% } %>
        <% if(page_type === 'post' && theme?.post?.word_count?.min2read === true && temp_min2read_count){ %>
            <span class="meta-info-item post-min2read">
                <i class="icon fas fa-clock"></i>&nbsp;<span><%= temp_min2read_count %> <%- __('min2read') %></span>
            </span>
        <% } %>
        <% if (page_type === 'post' && theme?.website_count?.busuanzi_count?.enable === true && theme?.website_count?.busuanzi_count?.page_pv === true) { %>
            <span class="meta-info-item post-pv">
                <i class="icon fas fa-eye"></i>&nbsp;<span id="busuanzi_value_page_pv"></span>
            </span>
        <% } %>
    </div>

    <% if (page_type === 'home') { %>
        <a class="home-read-more" href="<%- url_for(post.path) %>"><%- __('read_more') %>&nbsp;<i class="icon fas fa-angle-right"></i></a>
    <% } %>
</div>
