<div class="home-content-container fade-in-down-animation">
    <ul class="home-article-list">
        <% page.posts.forEach(post => { %>
            <li class="home-article-item">

                <h3 class="home-article-title">
                    <a href="<%- url_for(post.path) %>">
                        <% if (post.top) { %>
                            <i class="fa fa-thumb-tack"></i>
                        <% } %>
                        <%= post.title %>
                    </a>
                </h3>

                <div class="home-article-content markdown-body">
                    <% if (post.excerpt) { %>
                        <%- post.excerpt %>
                    <% } else { %>
                        <%- truncate(strip_html(post.content), {length: 150}) %>
                    <% } %>
                </div>

                <div class="home-article-meta-info">
                    <div class="article-date">
                        <span><i class="fa fa-pencil-square-o"></i> <%= date(post.date, 'YYYY-MM-DD') %></span>
                        <% if (theme.magic.enable === true) { %>
                            <span>
                            <i class="fa fa-folder"></i>
                            <ul>
                                <% post.categories.forEach((category, i) => { %>
                                    <li><%= i === 0 ? '' : '| ' %><a
                                                href="<%- url_for(category.path) %>"><%= category.name %></a></li>
                                <% }); %>
                            </ul>
                        </span>
                        <% } %>
                    </div>
                    <% if (theme.magic.enable === false) { %>
                        <hr>
                    <% } %>
                    <a href="<%- url_for(post.path) %>"><%- __('read_more') %> <i class="fa fa-angle-right"></i></a>
                </div>
            </li>
        <% }) %>
    </ul>

    <div class="paginator">
        <% if (page.prev)  { %>
            <a class="prev btn"
               href="<%- url_for(page.prev == 1 ? '' : '/page/' + page.prev) %>"
            ><%- __('prev') %></a>
        <% } %>

        <% if (page.next)  { %>
            <a class="next btn"
               href="<%- url_for('/page/' + page.next) %>"
            ><%- __('next') %></a>
        <% } %>
    </div>
</div>
