<div class="page-template">
    <div class="page-top">
        <%- partial('_partial/header') %>
    </div>

    <div class="page-middle">

        <main class="main-content normal-code-theme">
            <div class="main-content-left">
                <% if (is_home()) { %>
                    <%- partial('home-content') %>

                <% } else if (is_archive()) { %>
                    <%- partial('archive-content') %>

                <% } else if (is_post()) { %>
                    <%- partial('article-content') %>

                <% } else if (is_category()) { %>
                    <%- partial('category-content') %>

                <% } else if (is_tag()) { %>
                    <%- partial('tag-content') %>

                <% } else if (page.title == 'about') { %>
                    <%- partial('about') %>
                <% } %>
            </div>
            <div class="main-content-right">
                <!-- TODO -->
            </div>
        </main>

        <% if (is_post() && theme.toc.enable) { %>
            <div class="sidebar-toc">
                <%- partial('_partial/sidebar-toc') %>
            </div>
        <% } %>

        <div class="sidebar-tools">
            <%- partial('_partial/tools') %>
        </div>

        <div class="scroll-to-top">
            <span class="scroll-percent"></span>
            <button><i class="fa fa-caret-up"></i></button>
        </div>

    </div>

    <div class="page-bottom">
        <%- partial('_partial/footer') %>
    </div>
</div>
<% if (theme.local_search.enable) { %>
    <%- partial('_partial/local-search') %>
<% } %>