<%
const page_title = page.title.toLowerCase()
const use_page_template = page?.use_template !== false
const { menu: t_menu, links: links_data, photos: photos_data } = theme
const use_friends_link = (
  t_menu?.Links && links_data && (page_title === 'links' || page_title === 'link')
)
const use_photo_album = (
  t_menu?.Photos && photos_data && (page_title === 'photos' || page_title === 'photo')
)
%>
<div class="fade-in-down-animation">
    <div class="page-template-container border-box">
        <% if (page?.page_cover) { %>
            <div class="page-template-top border-box"
                 style="height: <%= page?.page_cover_height ? page?.page_cover_height + 'px' : '13rem' %>"
            >
                <img class="page-cover" src="<%- url_for(page.page_cover) %>"
                     onerror="this.style.display='none'"
                >
            </div>
        <% } %>

        <div class="page-template-bottom border-box">
            <% if (use_friends_link && use_page_template) { %>
                <%- partial('_partial/templates/friends-link') %>
            <% } %>
            <% if (use_photo_album && use_page_template) { %>
                <%- partial('_partial/templates/photo-album') %>
            <% } %>
            <div class="page-content border-box keep-markdown-body">
                <% if (page?.content || use_friends_link || use_photo_album) { %>
                    <%- page.content %>
                <% } else { %>
                    <h1><%= page_title.toUpperCase() %></h1>
                <% } %>
            </div>

            <% if (page?.comment === true) { %>
                <%- partial('_partial/comment/comment') %>
            <% } %>
        </div>
    </div>
</div>
