<div class="right-side-container">

    <div class="nav-container animated">
        <%- partial('common/nav') %>
    </div>

    <div class="article-post-container animated">
        <% if (is_home()) { %>
            <%- partial('home-post') %>

        <% } else if (is_archive()) { %>
            <%- partial('archive-post') %>

        <% } else if (is_post()) { %>
            <%- partial('article-post') %>

        <% } else if (is_category()) { %>
            <%- partial('category-post') %>

        <% } else if (is_tag()) { %>
            <%- partial('tag-post') %>

        <% } else if (page.title == 'about') { %>
            <%- partial('about') %>
        <% } %>
    </div>
</div>