<%
const {
    enable: theme_comment_enable,
    use: theme_comment_use
} = theme?.comment
%>

<% if (theme_comment_enable === true && theme_comment_use) { %>
    <div class="comments-container">
        <div id="comments-anchor"></div>
        <div class="comment-area-title">
            <i class="fas fa-comments"></i>&nbsp;<%- __('comments') %>
        </div>
        <% if  (theme_comment_use === 'valine') { %>
            <%- partial('valine') %>
        <% } else if (theme_comment_use === 'gitalk') { %>
            <%- partial('gitalk') %>
        <% } else if (theme_comment_use === 'twikoo') { %>
            <%- partial('twikoo') %>
        <% } else if (theme_comment_use === 'waline') { %>
            <%- partial('waline') %>
        <% } else if (theme_comment_use === 'giscus') { %>
            <%- partial('giscus') %>
        <% } %>
    </div>
<% } %>



