<%
const colon = config.language === 'en' ? ': ' : '：'
%>
<div class="article-copyright-info-container">
    <ul class="copyright-info-content">
        <li class="post-title">
            <span class="type"><%- __('copyright.title') %></span><%= colon %><span class="content"><%= page.title %></span>
        </li>
        <li class="post-author">
            <span class="type"><%- __('copyright.author') %></span><%= colon %><span class="content"><%= theme.base_info.author || config.author %></span>
        </li>
        <li class="post-time">
            <span class="type"><%- __('copyright.create_time') %></span><%= colon %><span class="content"><%= date(page.date, 'YYYY-MM-DD HH:mm:ss') %></span>
        </li>
        <li class="post-link">
            <span class="type"><%- __('copyright.link') %></span><%= colon %><span class="content"><%= page.path %></span>
        </li>
        <li class="post-license">
            <span class="type"><%- __('copyright.license_title') %></span><%= colon %><span class="content"><%- __('copyright.license_content', '<a class="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">BY-NC-SA</a>') %></span>
        </li>
    </ul>
    <div class="copy-copyright-info flex-center tooltip" data-content="<%= __('copy_copyright.copy') %>" data-offset-y="-2px">
        <i class="fa-solid fa-copy"></i>
    </div>
</div>
