<div class="article-copyright-info-container">
    <ul class="copyright-info-content">
        <li>
            <span class="type"><%- __('copyright.title') %></span>：<span class="content"><%= page.title %></span>
        </li>
        <li>
            <span class="type"><%- __('copyright.author') %></span>：<span class="content"><%= theme.base_info.author || config.author %></span>
        </li>
        <li>
            <span class="type"><%- __('copyright.create_time') %></span>：<span class="content"><%= date(page.date, 'YYYY-MM-DD HH:mm:ss') %></span>
        </li>
        <li class="post-link">
            <span class="type"><%- __('copyright.link') %></span>：<span class="content"><%= page.path %></span>
        </li>
        <li>
            <span class="type"><%- __('copyright.license_title') %></span>：<span class="content"><%- __('copyright.license_content', '<a class="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">BY-NC-SA</a>') %></span>
        </li>
    </ul>
</div>
