<%
const { description: fs_description, hitokoto: fs_hitokoto } = theme.style.first_screen
const { description: c_description } = config
let final_description = fs_description || c_description || ''
final_description = final_description.split('||').map(desc => desc.trim())
if (final_description.length > 2) { final_description.length = 2 }
%>
<div class="first-screen-container flex-center fade-in-down-animation">
    <div class="content flex-center">
        <% if (final_description.length || fs_hitokoto.enable) { %>
            <div class="description hitokoto">
                <% for (const idx in final_description) { %>
                    <div><%= final_description[idx] %></div>
                <% } %>
            </div>
        <% } %>
        <% if (fs_hitokoto.enable) { %>
            <script async <%= theme.pjax.enable === true ? 'data-pjax' : '' %>
                    src="https://v1.hitokoto.cn/?encode=js"
            >
            </script>
        <% } %>
        <% if (theme.social_contact.enable) { %>
            <div class="s-icon-list">
                <% for (const key in theme.social_contact.links) { %>
                    <% if(theme.social_contact.links[key]) { %>
                        <div class="tooltip s-icon-item <%= key %>"
                             data-content="<%= __(key) %>"
                        >
                            <% if(key === 'email') { %>
                                <a href="mailto:<%- theme.social_contact.links[key] %>">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            <% } else { %>
                                <a target="_blank" href="<%- theme.social_contact.links[key] %>">
                                    <i class="fab fa-<%= key %>"></i>
                                </a>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
