<div class="first-screen-container flex-center">
    <div class="content flex-center">
        <div class="description">
            <%= theme.style.first_screen.description || config.description %>
        </div>
        <% if (theme.social_contact.enable) { %>
            <ul class="s-icon-list">
                <% for (const key in theme.social_contact.links) { %>
                    <% if(theme.social_contact.links[key]) { %>
                        <% if(key === 'email') { %>
                            <li class="s-icon-item <%= key %>">
                                <a href="mailto:<%- url_for(theme.social_contact.links[key]) %>">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="s-icon-item <%= key %>">
                                <a href="<%- url_for(theme.social_contact.links[key]) %>">
                                    <i class="fab fa-<%= key %>"></i>
                                </a>
                            </li>
                        <% } %>
                    <% } %>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>
