<%
const {
  description: fs_description,
  hitokoto: fs_hitokoto
} = theme.style.first_screen
const { description: c_description } = config
%>
<div class="first-screen-container flex-center fade-in-down-animation">
    <div class="content flex-center">
        <% if (fs_description || c_description || fs_hitokoto.enable) { %>
            <div class="description hitokoto">
                <%= fs_description || c_description %>
            </div>
        <% } %>
        <% if (fs_hitokoto.enable) { %>
            <script async <%= theme.pjax.enable === true ? 'data-pjax' : '' %>
                    src="https://v1.hitokoto.cn/?encode=js"
            >
            </script>
        <% } %>
        <% if (theme.social_contact.enable) { %>
            <div class="s-icon-list">
                <% for (const key in theme.social_contact.links) { %>
                    <% if(theme.social_contact.links[key]) { %>
                        <% if(key === 'email') { %>
                            <span class="s-icon-item <%= key %>">
                                <a href="mailto:<%- theme.social_contact.links[key] %>">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </span>
                        <% } else { %>
                            <span class="s-icon-item <%= key %>">
                                <a target="_blank" href="<%- theme.social_contact.links[key] %>">
                                    <i class="fab fa-<%= key %>"></i>
                                </a>
                            </span>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
</div>
