<%
const { since: f_since, icp: f_icp, upyun: f_upyun } = theme.footer
const { author: bi_author } = theme.base_info
const { author: hexo_author } = config
const { site_uv: bsz_site_uv, site_pv: bsz_site_pv, enable: bsz_enable } = theme.website_count.busuanzi_count
%>
<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">
            &copy;
            <% if (f_since) { %>
                <span><%= f_since %></span> -
            <% } %>
            <%= date(new Date(), 'YYYY') %>
            <% if (bi_author || hexo_author) { %>
                &nbsp;<i class="fas fa-heart icon-animate"></i>
                &nbsp;<a href="/"><%= bi_author || hexo_author %></a>
            <% } %>
        </div>
        <% if (bsz_enable === true) { %>
            <script async <%= theme.pjax.enable === true ? 'data-pjax' : '' %>
                    src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <div class="website-count info-item">
                <% if (bsz_site_uv) { %>
                    <%- __('site_uv') %>&nbsp;<span id="busuanzi_value_site_uv"></span>&ensp;
                <% } %>
                <% if (bsz_site_pv) { %>
                    <%- __('site_pv') %>&nbsp;<span id="busuanzi_value_site_pv"></span>
                <% } %>
            </div>
        <% } %>
        <div class="theme-info info-item">
            <%- __('powered_by', '<a target="_blank" href="https://hexo.io">Hexo</a>') %>&nbsp;|&nbsp;<%- __('theme') %>&nbsp;<a class="theme-version" target="_blank" href="https://github.com/XPoet/hexo-theme-keep">Keep v3.5.2</a>
        </div>
        <% if (f_icp) { %>
            <div class="icp-info info-item">
                <a target="_blank" rel="nofollow"
                   href="https://beian.miit.gov.cn"
                >
                    <%= f_icp %>
                </a>
            </div>
        <% } %>
        <% if (f_upyun) { %>
            <div class="ypyun-info info-item">
                <a target="_blank" rel="nofollow" href="<%= f_upyun %>">
                    <%- __('footer_upyun', '<img src="/images/upyun.png" height="20">') %>
                </a>
            </div>
        <% } %>
    </div>
</footer>
