<header class="header-wrapper">

    <div class="header-content">

        <a class="logo vertical-center" href="/">
            <%= config.title %>
        </a>

        <ul class="menu-list vertical-center">
            <% for (let i in theme.menu) { %>
                <li class="menu-item">
                    <a class="<%- isInHomePaging(page.path, theme.menu[i]) ? 'current' : is_current(theme.menu[i]) ? 'current' : '' %>"
                       href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a>
                </li>
            <% } %>
            <% if (theme.local_search.enable) { %>
                <li>
                    <button class="search-btn btn popup-trigger"><i class="fa fa-search"></i></button>
                </li>
                <%- next_js('local-search.js') %>
            <% } %>
        </ul>

        <div class="menu-bar vertical-center">
            <i class="fa fa-bars"></i>
        </div>
    </div>

    <div class="header-drawer">
        <ul class="drawer-menu-list">
            <% for (let i in theme.menu) { %>
                <li class="drawer-menu-item <%- isInHomePaging(page.path, theme.menu[i]) ? 'drawer-menu-active' : is_current(theme.menu[i]) ? 'drawer-menu-active' : '' %>">
                    <a href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a>
                </li>
            <% } %>
        </ul>
    </div>

    <div class="window-mask"></div>

</header>

