<header class="header-wrapper">

    <div class="header-content">
        <a class="logo-title" href="/">
            <%= theme.base_info.title || config.title || 'KEEP' %>
        </a>

        <ul class="menu-list">
            <% for (let i in theme.menu) { %>
                <li class="menu-item">
                    <a class="<%- isInHomePaging(page.path, theme.menu[i]) ? 'active' : is_current(theme.menu[i]) ? 'active' : '' %>"
                       href="<%- url_for(theme.menu[i]) %>"
                    >
                        <%= __(i.toLowerCase()).toUpperCase() %>
                    </a>
                </li>
            <% } %>
        </ul>

        <div class="menu-bar">
            <div class="menu-bar-middle"></div>
        </div>
    </div>

    <div class="header-drawer">
        <ul class="drawer-menu-list">
            <% for (let i in theme.menu) { %>
                <li class="drawer-menu-item flex-center">
                    <a class="<%- isInHomePaging(page.path, theme.menu[i]) ? 'active' : is_current(theme.menu[i]) ? 'active' : '' %>"
                       href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()).toUpperCase() %></a>
                </li>
            <% } %>
        </ul>
    </div>

    <div class="window-mask"></div>

</header>

