<div class="paginator border-box">
    <span class="btn-wrap<%= page_info.prev ? ' allowed' : '' %>">
        <a class="btn jump-btn"
           href="<%- url_for(page_info.prev_link) %>"
        ><%- __('prev') %></a>
    </span>


    <% if (page.total > 1) { %>
        <div class="page-number-box border-box flex-center">
            <input class="page-number-input border-box base-color-size"
                   type="number"
                   value="<%- page.current %>"
                   min="1"
                   max="<%- page.total %>"
            ><span class="delimiter base-color-size">/</span><span class="base-color-size"><%- page.total %></span>
        </div>
    <% } %>


    <span class="btn-wrap<%= page_info.next ? ' allowed' : '' %>">
        <a class="btn jump-btn"
           href="<%- url_for(page_info.next_link) %>"
        ><%- __('next') %></a>
    </span>
</div>
