<% if (page.total > 1) { %>
    <div class="paginator border-box flex-center">
        <div class="btn-wrap<%= page_info.prev ? ' allowed' : '' %>">
            <a class="jump-btn"
               href="<%- url_for(page_info.prev_link) %>"
            ><i class="fa-solid fa-chevron-left"></i></a>
        </div>


        <div class="page-number-box border-box flex-center">
            <input class="page-number-input border-box base-color-size"
                   type="number"
                   value="<%- page.current %>"
                   min="1"
                   max="<%- page.total %>"
            ><span class="delimiter base-color-size">/</span><span class="base-color-size"><%- page.total %></span>
        </div>


        <div class="btn-wrap<%= page_info.next ? ' allowed' : '' %>">
            <a class="jump-btn"
               href="<%- url_for(page_info.next_link) %>"
            ><i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
<% } %>


