<!-- common -->
<%- __js([
    'js/utils.js',
    'js/header-shrink.js',
    'js/back2top.js',
    'js/dark-light-toggle.js',
    'js/main.js',
    'js/libs/anime.min.js'
]) %>

<!-- local-search -->
<% if (theme?.local_search?.enable === true) { %>
    <%- __js('js/local-search.js') %>
<% } %>

<!-- code-block -->
<% if (theme?.code_block?.tools?.enable === true) { %>
    <%- __js('js/code-block.js') %>
<% } %>

<!-- lazyload -->
<% if (theme?.lazyload?.enable === true) { %>
    <%- __js('js/lazyload.js') %>
<% } %>

<div class="<%= theme?.pjax?.enable === true ? 'pjax' : '' %>">
    <% if (is_post()) { %>
        <!-- post-helper -->
        <%- __js('js/post/post-helper.js') %>

        <!-- toc -->
        <% if (theme?.toc?.enable === true) { %>
            <%- __js('js/post/toc.js') %>
        <% } %>

        <!-- copyright-info -->
        <% if (theme?.post?.copyright_info === true) { %>
            <%- __js('js/post/copyright-info.js') %>
        <% } %>

        <!-- share -->
        <% if (theme?.post?.share === true) { %>
            <%- __js('js/post/share.js') %>
        <% } %>
    <% } %>

    <!-- category-page -->
    <% if (isCategoriesPage(page.path) === true) { %>
        <%- __js('js/category-page.js') %>
    <% } %>

    <!-- links-page -->
    <% if (isLinksPage(page.path) === true) { %>
        <%- __js('js/links-page.js') %>
    <% } %>
</div>

<!-- pjax -->
<% if (theme?.pjax?.enable === true) { %>
    <%- partial('pjax/pjax') %>
<% } %>
