<div class="sidebar fade-in-down-animation">
    <% if (is_home()) { %>
        <div class="home-sidebar-container">
            <div class="home-sidebar-item">
                <%- partial('site-info') %>
            </div>
            <div class="home-sidebar-item">
                <%- partial('sidebar-category') %>
            </div>
        </div>
    <% } else if (is_archive()) { %>
        <%- partial('site-info') %>
    <% } else if (is_post() && theme.toc.enable ) { %>
        <%- partial('sidebar-toc') %>
    <% } else if (is_category()) { %>
        <%- partial('site-info') %>
    <% } else if (is_tag()) { %>
        <%- partial('site-info') %>
    <% } else if (page.title == 'about') { %>
        <%- partial('site-info') %>
    <% } %>

</div>