<div class="article-meta-info">

    <!-- date -->
    <span class="article-date article-meta-item">
        <i class="fa fa-calendar-o"></i> <%= date(articleObject.date, 'YYYY-MM-DD HH:mm:ss') %>
    </span>

    <!-- categories -->
    <% if (articleObject.categories.length) { %>
        <span class="article-categories article-meta-item">
            <i class="fa fa-bookmark"></i>
            <ul>
                <% articleObject.categories.forEach((category, i) => { %>
                    <li>
                        <%= i === 0 ? '' : '| ' %><a href="<%- url_for(category.path) %>"><%= category.name %></a>
                    </li>
                <% }); %>
            </ul>
        </span>
    <% } %>

    <!-- tags -->
    <% if (articleObject.tags.length) { %>
        <span class="article-tags article-meta-item">
            <i class="fa fa-tags"></i>
            <ul>
                <% articleObject.tags.forEach((tag, i) => { %>
                    <li>
                        <%= i === 0 ? '' : '| ' %><a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
                    </li>
                <% }); %>
            </ul>
        </span>
    <% } %>
</div>