<div class="site-info">

    <div class="avatar-warp info-item">
        <%- image_tag(theme.avatar, {class: 'avatar'}) %>
    </div>

    <div class="title info-item">
        <a href="/"><%= config.title %></a>
    </div>

    <div class="description info-item">
        <%= config.description %>
    </div>

    <div class="links-of-author-warp info-item">
        <ul class="links-of-author-list">
            <% for (let link in theme.social) { %>
                <% const linkItem = theme.social[link].split(' || ') %>
                <li class="links-of-author-item">
                    <a href="<%= linkItem[0] %>"
                       target="_blank"
                       title="<%= link %>"
                    ><i class="fa fa-<%= linkItem[1] %>"></i></a>
                </li>
            <% } %>
        </ul>
    </div>
</div>