<% if(
        theme.comments.valine.enable
        && theme.comments.valine.appid
        && theme.comments.valine.appkey
) { %>
    <div class="valine-container">
        <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
        <div id="vcomments"></div>
        <script>
            new Valine({
                el: '#vcomments',
                appId: '<%= theme.comments.valine.appid %>',
                appKey: '<%= theme.comments.valine.appkey %>',
                meta: '<%= theme.comments.valine.meta %>'.split(','),
                avatar: 'wavatar',
                enableQQ: true,
                placeholder: '<%= theme.comments.valine.placeholder %>',
                lang: '<%= config.language %>'.toLowerCase()
            })
        </script>
    </div>
<% } %>
